header{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
    text-align: center;
    background-color: aqua;
}

body{
    font-family:Comic Sans MS, Comic Sans, cursive;
}
select{
    font-family: Comic Sans MS, Comic Sans, cursive;
cursor: pointer;
padding: 5px;
}
button{
    cursor: pointer;
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 5px;
    background-color: aqua;
}
.outputBox{
    border-color: rgb(8, 6, 6);
    min-height: 200px;
    width: 80%;
    background-color:aqua;

}
